@use "../custom" as *;
@use "../components/mixins" as *;

.testimonials {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding: 0;
  @include gradient;

  &__card {
    font-family: "Crimson Pro", serif;
    background-color: rgba($white, 0.7);
    padding: 2rem 1.25rem;
    border-radius: 0.6rem;
    height: auto;
    text-align: center;

    i {
      font-size: 1.3rem;
      color: rgba($primary, 0.7);
    }
    .ratings {
      i {
        color: rgba($primary, 0.7);
        font-size: 1rem;
      }
    }
  }
  &__picture {
    width: 6rem;
    height: 6rem;
    position: absolute;
    // border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      border: 0.3rem solid rgba($primary, 0.7);
    }
  }
  &__name {
    font-family: "Montserrat", sans-serif;
    padding-top: 3rem;
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 500;
    color: $white;

    h3 {
      padding-top: 0.8rem;
    }

    p {
      padding-bottom: 2rem;
    }
  }
}
